@import 'variables';

.alert {
    display: block;
    background-color: $black;
    color: $white;
    padding: $base-unit;

    &.error {
        border-top: $base-unit/2 solid $red;
    }

    &.success {
        border-top: $base-unit/2 solid $bright-green;
    }

    &.warning {
        border-top: $base-unit/2 solid $yellow;
    }
}

div.alert {
    margin-bottom: $base-unit / 2;
}
