@import 'variables';

@mixin basic-button {
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 700;
    color: $text-color;
    font-size: heading-size(3);

    display: inline-block;

    padding: 8px 16px;
    text-decoration: none;

    cursor: pointer;

    background: transparent;

    &:hover {
        background-color: $white;
        color: $black;
    }
}

button, .btn {
    @include basic-button;
    text-transform: uppercase;
    margin-bottom: 1em;
    margin-top: 1em;

    &.primary, &[type=submit] {
        background-color: $yellow;
        color: $black;

        &:hover {
            color: $black;
            background-color: $white;
        }
    }

    &.dark {
        background-color: $black;
        color: $white;

        &:hover {
            color: $black;
            background-color: $white;
        }
    }

    &.danger {
        background-color: $red;
        color: $white;
        &:hover {
            background-color: $black;
            color: $white;
        }
    }

    &.transparent {
        background-color: transparent;
        color: inherit;
        &.danger:hover {
            background-color: $red;
            color: $white;
        }
    }

}

li button, li .btn, button.inline, .btn.inline {
    margin-top: 0;
    margin-bottom: 0;
}

.hart {
    display: inline-block;
    width: 80px;
    line-height: 60px;
    margin: 5px 5px 6px 5px; 
    background-image: url("/img/Love_it.png");
    background-repeat: no-repeat;
    background-position: 0 0px;
    background-size: cover;
  }

.hart-off {
    display: inline-block;
    width: 80px;
    line-height: 60px;
    margin: 5px 5px 6px 5px; 
    background-image: url("/img/Love-it-uit.png");
    background-repeat: no-repeat;
    background-position: 0 0px;
    background-size: cover;
  }

  .hartoff {
    font-family: "Open Sans Condensed", sans-serif;
    font-weight: 700;
    color: #ffffff;
    font-size: 18px;
    padding: 8px 16px;
    text-transform: uppercase;
  }