@import 'variables';

form {
    label {
    }

    input, select, textarea {
        display: block;
        margin-bottom: 1em;
        margin-top: $base-unit / 2;
        padding: $base-unit / 2;
        border-radius: 0;
        border: none;
        background-color: $white;

        width: 100%;

        &.errorinput {
            border: 1px solid $red;
        }
    }

    input[type=file] {
        background-color: transparent;
    }

    .CodeMirror {
        text-align: left;
    }

    input[type=checkbox] {
        display: inline-block;
        width: auto;
    }

    .group {
        display: block;
    }
}
