@import "variables";

.center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.d-inline {
    display: inline-block;
}

@mixin drop-shadow() {
    box-shadow: 0 $base-unit/4 $base-unit/2 0 rgba(0, 0, 0, 0.16);
}

@mixin inset-shadow() {
    box-shadow: inset 0 0 $base-unit/4 0 rgba(0, 0, 0, 0.16);
}

.shadow {
    @include drop-shadow();
}
