@use 'buttons';
@import "variables";

body {
    // For the footer
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

nav.top {
    .brand {
        // 6em because the bar is 1 em for text + 2*1em for padding
        height: 6em;
        float: left;
        position: fixed;
        top: 0;
        z-index: 999999;
    }
    .toggle-mobile {
        margin: 0 auto;
        max-width: 80%;
        text-align: center;
    }
    input#nav-hamburger,
    label {
        display: none;
    }
    ul {
        width: 100%;
        list-style-type: none;
        // Remove the browser default padding shit
        margin: 0;
        padding: 0;
        li {
            display: inline-block;
            margin-bottom: 0;
            form {
                display: inline-block;
            }
            a,
            button {
                margin: 0;
                @include buttons.basic-button;
                display: inline-block;
                padding: 1em;
            }
        }
    }
}

@media screen and (max-width: $sm-screen) {
    nav.top {
        label {
            @include buttons.basic-button;
            display: inline-block;
            font-size: heading-size(2);
            float: right;
        }
        ul li {
            display: block;
            a,
            form,
            button {
                width: 100%;
            }
        }

        .toggle-mobile {
            display: none;
        }

        input#nav-hamburger:checked ~ .toggle-mobile {
            display: block;
        }
    }
}

// The column system is fairly simple.
// The width of a .wrapper is evenly devided over columns,
// where .col-2 becomes twice as wide as .col-1

@mixin col($width) {
    flex: $width;
    margin: 0 16px;
}

.col {
    @include col(1);
}

.col-1 {
    @include col(1);
}

.col-2 {
    @include col(2);
}

.col-3 {
    @include col(3);
}

.col-4 {
    @include col(4);
}

.wrapper {
    // Grow, don't ever shrink, auto default size
    // As this will be the only growing thing,
    // The footer will be at the bottom
    // If main wrapper
    flex: 1 0 auto;
    display: flex;
}

@media (max-width: $sm-screen) {
    .wrapper {
        display: block;
    }
}

aside {
    @include col(1);
}

main {
    @include col(2);
}

section {
    // In order for absolute positions to work
    position: relative;
}
