@use 'helpers';
@import 'variables';

.modal {
    display: none;
    position: fixed;
    z-index: 9999999999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);

    &.visible {
        display: block;
    }

    .modal-content {
        background-color: $white;
        color: $black;
        max-width: 800px;
        margin: 2*$base-unit auto;
        @include helpers.drop-shadow();
        padding: $base-unit/2;

        .modal-title {
            width: 100%;
            margin: 0;

            .close {
                float: right;
                cursor: pointer;
            }
        }
    }
}

input[type=checkbox].modal-toggle {
    display: none;
}

input[type=checkbox].modal-toggle:checked ~ .modal {
    display: block;
}
