@import 'variables';

html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-family: sans-serif;
    font-size: $body-text-size;
    font-weight: 400;
    color: $text-color;
    margin: 0;
}

a, a:active, a:visited {
    color: $text-color;
    text-underline-offset: 0.2em;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Noto Sans Condensed', 'Roboto Condensed', 'Verdana', sans-serif;
    font-stretch: condensed;
    font-weight: 650;
    margin-top: 0;
    margin-bottom: 1em;

    &:only-child {
        margin-bottom: inherit;
    }
}

h1 {
    font-size: heading-size(1);
}

h2 {
    font-size: heading-size(2);
}

h3 {
    font-size: heading-size(3);
}

h4 {
    font-size: heading-size(4);
}

h5 {
    font-size: heading-size(5);
}

h6 {
    font-size: heading-size(6);
}

button {
    border: none;
    display: block;
}

code, pre {
    font-family: monospace;
    background-color: $black;
    padding: $base-unit/4;
    color: $white;
}

small {
    font-size: 0.75em;
    opacity: 0.75;
}
