@import 'variables';

table.table {
    width: 100%;
    border-collapse: collapse;
    border: none;

    thead th {
        height: 3em;
    }

    tbody tr:hover {
        background-color: rgba($black, 0.4);
    }

    tbody td {
        height: 2em;
    }

    th, td {
        border: none;
    }
}
