@use 'sass:math';

$base-unit: 16px;

// Variables colors
$green: #70b010;
$light-green: #b7cc47;
$pastel-green: #4ab58f;
$bright-green: #00cf97;
$pink: #e74682;
$purple: #784895;
$red: #cf3000;
$yellow: #fdda2f;
$blue: #3094D0;
$black: #272E3A;
$white: #ffffff;

// Text variables
$text-color: #ffffff;
$body-text-size: 16px;

@function heading-size($level) {
    @return math.max($body-text-size, 36px - $level * 6px);
}

//Screen size
$sm-screen: 970px;
