@use 'reset';
@use 'layout';
@use 'helpers';
@use 'lists';
@use 'forms';
@use 'tables';
@use 'alerts';
@use 'modals';
@import "variables";

body {
    color: $text-color;
}

.wrapper#main {
    background-image: url("/img/papegaai-zomer2020.png"),
        url("/img/omg-aap.png");
    background-repeat: no-repeat;
    background-size: 25%, 20%;
    background-attachment: fixed, fixed;
    background-position: 0% 50%, 95% 40%;
    padding-top: 1em;
}

@media screen and (max-width: $sm-screen) {
    .wrapper#main {
        background-image: url("/img/bollenGROOT-recht-geel.svg");
        background-repeat: no-repeat;
        background-size: 200%;
        background-attachment: fixed;
        background-position: bottom;
    }
}

nav {
    background-color: $pastel-green;
    font-size: heading-size(2);
    li {
        a {
            font-size: heading-size(2);
        }
        button {
            text-transform: none;
        }
    }
}

section {
    background-color: $pastel-green;
    padding: $base-unit;
    margin: $base-unit / 2;
}

section.inverted {
    background-color: $black;
    h1,
    h2,
    h3,
    h4 {
        color: $bright-green;
    }
}

footer {
    background-color: $black;
    text-align: center;
    padding: 16px;
}

.user-html {
    @include helpers.inset-shadow();
    text-align: left;
    padding: $base-unit/2;
    background-color: $white;
    color: $black;

    a, a:active, a:visited {
        color: $black;
    }
}

.game-badges {
    position: absolute;
    top: 0;
    left: 0;
    margin: $base-unit/2;
}
