body {
    font-family: sans-serif;
}

#container {
    text-align: center;
}

blockquote {
    display: block;
    margin-left: 2em;
    font-style: italic;
    font-family: serif;
    max-width: 50%;
    border-left-style: solid;
    border-left-color: #000;
    padding-left: 1em;
}

.user-html {
    text-align: left;
}