<template>
    <base-modal title="Nieuw lid" btn-text="Voeg gebruiker toe" btn-class="primary" btn-icon="fa fa-user-plus">
        <form method="post" :action="href">
            <input name="_token" type="hidden" :value="csrf"/>
            <label for="users">Kies één of meerdere gebruikers</label>
            <multiselect
                :options="options"
                :searchable="true"
                :multiple="true"
                track-by="id"
                label="name"
                v-model="users"
                select-label="Druk enter om te selecteren"
                deselect-label="Druk enter om te verwijderen"
                :close-on-select="false"
            >
                <template v-slot:noOptions>Er zijn geen gebruikers die je kan toevoegen.</template>
                <template v-slot:noResult>Er zijn geen gebruikers voor je zoekopdracht.</template>
            </multiselect>
            <div class="group">
                <button type="submit">Voeg toe</button>
            </div>
            <input :name="name" type="hidden" :value="user.id" v-for="user in users" />
        </form>
    </base-modal>
</template>

<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>

<script>
    import Multiselect from 'vue-multiselect';
    import { getCsrf } from '../util.js';

    export default {
        props: {
            options: {
                type: Array,
                required: true,
            },
            name: {
                type: String,
                required: true,
            },
            href: {
                type: String,
                required: true,
            },
        },
        components: {
            'multiselect': Multiselect,
        },
        computed: {
            csrf: vm => getCsrf(),
        },
        data: function() {
            return {
                users: null,
            };
        },
    };
</script>
