<template>
    <div>
        <button :class="btnClass" type="button" v-on:click="toggle">
            <span :class="btnIcon"></span>
            {{ btnText }}
        </button>
        <div :class="{modal: true, visible: visible}" v-on:click="toggle">
            <div class="modal-content" v-on:click.stop="">
                <div class="modal-title">
                    <span class="close btn danger transparent inline" v-on:click="toggle">&times;</span>
                    <h2>{{ title }}</h2>
                </div>
                <slot></slot>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        props: ['title', 'btnText', 'btnIcon', 'btnClass'],
        props: {
            title: String,
            btnText: {
                type: String,
                required: true,
            },
            btnIcon: String,
            btnClass: {
                type: String,
                required: true,
            },
        },
        data: function() {
            return {
                visible: false,
            };
        },
        methods: {
            toggle: function() {
                this.visible = ! this.visible;
            },
        },
    };
</script>
